<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Assassins Server Apps</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>assassins.CreateAccount</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>assassins.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateGame</servlet-name>
        <servlet-class>assassins.CreateGame</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateGame</servlet-name>
        <url-pattern>/CreateGame</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>JoinGame</servlet-name>
        <servlet-class>assassins.JoinGame</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JoinGame</servlet-name>
        <url-pattern>/JoinGame</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetPlayers</servlet-name>
        <servlet-class>assassins.GetPlayers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPlayers</servlet-name>
        <url-pattern>/GetPlayers</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GameStart</servlet-name>
        <servlet-class>assassins.GameStart</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameStart</servlet-name>
        <url-pattern>/GameStart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateGame</servlet-name>
        <servlet-class>assassins.UpdateGame</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateGame</servlet-name>
        <url-pattern>/UpdateGame</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Kill</servlet-name>
        <servlet-class>assassins.Kill</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Kill</servlet-name>
        <url-pattern>/Kill</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EndGame</servlet-name>
        <servlet-class>assassins.EndGame</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EndGame</servlet-name>
        <url-pattern>/EndGame</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LeaveGame</servlet-name>
        <servlet-class>assassins.LeaveGame</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LeaveGame</servlet-name>
        <url-pattern>/LeaveGame</url-pattern>
    </servlet-mapping>

</web-app>
